@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

/* ----------- SCREEN ----------- */
* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/* ----------- APPLICATION ----------- */

.app {
    background-color: #1D2226;
}