@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

/* ----------- SCREEN ----------- */
* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #1D2226;
}

/* ----------- APPLICATION ----------- */

.app {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header header'
                         'content side-content';
    grid-gap: 24px 50px;
    background-color: #1D2226;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.side-content {
    grid-area: side-content;
}

/* ----------- MAIN CONTENT ----------- */

.content {
    padding-left: 96px;
}

.top-movies, .all-movies {
    margin-bottom: 40px;
}

.top-movies h1, .all-movies h1 {
    margin-bottom: 20px;
}

.movie-grid {
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 168px);
    grid-gap: 24px;
}


/* ----------- SIDE CONTENT ----------- */

.button-movie .price {
    margin-top: 0px;
}

.button-movie {
    align-items: center;
    font-size: 14px;
}

.bag-button {
    padding: 20px;
    background: #E25EBF !important;
}