@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

/* ----------- SCREEN ----------- */
* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/* ----------- APPLICATION ----------- */

.app {
    background-color: #1D2226;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header header'
                         'content side-content';
    grid-gap: 24px 50px;
    gap: 24px 50px;
}

.header {
    grid-area: header;
}