/* ----------- BAG ----------- */

.bag-container {
    width: 312px;
    height: 429px;
}

/* ----------- BAG-HEADER ----------- */

.bag-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A785ED;
}

.bag-icon {
    height: 32px;
}

/* ----------- BAG-CONTENT ----------- */

.bag-content {
    display: grid;
    gap: 4px;
    text-align: center;
    padding: 40px 16px;
    background: rgba(0, 0, 0, 0.2);
}