/* ----------- BAG ----------- */

.bag-container {
    width: 312px;
    height: 560px;
    position: sticky;
    top: 50px;
    overflow-y: auto;
}

/* ----------- BAG-HEADER ----------- */

.bag-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A785ED;
    border-radius: 10px 10px 0px 0px;
}

.bag-icon {
    height: 32px;
}

/* ----------- BAG-CONTENT ----------- */

.bag-content {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    text-align: center;
    padding: 40px 16px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.bag-content span {
    font-size: 12px;
    margin-top: 10px;
}


/* ----------- MOVIE IN BAG----------- */

.movie-bag {
    height: 88px;
    display: flex;
    grid-gap: 4px;
}

.img-movie-bag {
    width: 45px;
    height: 65px;
    margin-right: 13px;
    border-radius: 5px;
}

.info-bag {
    display: flex;
    flex-direction: column;
    text-align: start;
    grid-gap: 4px;
}

.actions-bag {
    display: flex;
    grid-gap: 14px;
}

svg {
    border-radius: 50px;
}