/* ----------- BAG ----------- */

.bag-container {
    width: 312px;
    height: 429px;
    display: flex;
    flex-direction: column;
}


.bag-header {
    width: 312px;
    height: 429px;
    display: flex;
    background: #A785ED;
}