/* ----------- NAVBAR ----------- */

.navbar {
    display: flex;
    padding: 24px 100px 24px 70px;
    background: #0F1C26;
}

/* ----------- LOGO ----------- */

.logo {
    margin-right: 42px;
}

/* ----------- PROFILE ----------- */

.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    height: 56px;
    border-radius: 50%;
}