.navbar {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    background-color: #0f1c26;
}

.search-container {
    width: 100%;
    padding: 16px 14px;
    outline: 0;
    background: #171b1e;
    border: 1px solid transparent;
}

.profile-img {
    height: 56px;
}